<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="AIP_1" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Auto_Identification_Process;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
